<div class="container">

  <div class="row featurette">
    <div class="col-md-7 col-xs-7">
      <h2 class="featurette-heading">Piotr Konieczny<span class="text-muted"> Design & Programing</span></h2>
      <p class="lead">
        Contact:
        <br /> email: piry3943@gmail.com
      </p>
    </div>
    <div class="col-md-5 col-xs-5">
      <img class="featurette-image img-responsive center-block img-circle" style="height: 250px; width: 250px; min-width: 250px"
        src="./src/img/piotr.jpg" alt="Generic placeholder image" />
    </div>

    <hr class="featurette-divider">

  </div>